.header {
  font-size: 30px;
}

.main-page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card {
  background-color: rgb(245, 244, 244);
  padding: 30px;
  margin: 20px 0;
  border: 2px solid rgb(231, 229, 229);
  border-radius: 15px;
}

.card-name {
  font-weight: bold;
  padding-bottom: 3px;
}
